@import "../../../../../consts";

.add-button {
  margin-top: 20px;
}

.no-col {
  width: $no-col-width;
}

.edit-col {
  width: calc(#{$edit-col-width} - 50px);
}

td.edit-col {
  padding: 0.5rem;
}
