@import "../../../../../consts";

.add-button {
  margin-top: 20px;
}

.no-col {
  width: $no-col-width;
}

.edit-col {
  width: calc(#{$edit-col-width} + 10px);
}

.edit-col2 {
  width: calc(#{$edit-col-width} + 43px);
}

td.edit-col, td.edit-col2 {
  padding: 0.5rem;
}
