<main>
  <div class="full-width">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light background-color-white sticky-top"
                [containerInside]="false">
      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand"><img routerLink="/" src="./assets/media/logos/logo-sm.png"
                                                     (click)="clearSection()"></a></mdb-navbar-brand>

      <links>
        <ul class="navbar-nav" [class.mr-auto]="('DIRECTION' | translate) === 'ltr'" [class.ml-auto]="('DIRECTION' | translate) === 'rtl'">

        </ul>
        <ul class="navbar-nav"  [class.ml-auto]="('DIRECTION' | translate) === 'ltr'" [class.mr-auto]="('DIRECTION' | translate) === 'rtl'">
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              {{'COMMON.LANGUAGE' | translate}}<span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <div >
                <a (click)="onLanguageButtonClicked('ar')" class="dropdown-item waves-light" mdbWavesEffect>{{'COMMON.ARABIC' | translate}}</a>
                <a (click)="onLanguageButtonClicked('en')" class="dropdown-item waves-light" mdbWavesEffect>{{'COMMON.ENGLISH' | translate}}</a>
              </div>
            </div>
          </li>
<!--          <a class="waves-light btn-sm" mdbWavesEffect mdbBtn color="danger" (click)="onLanguageButtonClicked()"><strong>{{'LANGUAGE' | translate}}</strong></a>-->
          <a class="waves-light btn-sm" mdbWavesEffect mdbBtn color="danger" (click)="signOut()"><strong>{{'SIGNIN.SIGNOUT' | translate}}</strong></a>
        </ul>
      </links>
    </mdb-navbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-layout-footer></app-layout-footer>
  </div>
</main>

