
<h2 class="h1-responsive font-weight-bold text-center mt-3">{{heading}}</h2>
    <form [formGroup]="form" class="mx-2 mt-4" (ngSubmit)="onSubmit()">
      <input id="id" type="hidden" class="form-control grey-text" formControlName="id" mdbInput>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form md-outline mt-0">
            <input type="text" id="typeEn" class="form-control" formControlName="typeEn" mdbInput mdbValidate
                   [validateSuccess]="false">
            <label for="typeEn">{{'SHARED_EVENTS.TYPE' | translate}}({{'COMMON.ENGLISH' | translate}})</label>
            <mdb-error *ngIf="f.typeEn.invalid && (f.typeEn.dirty || f.typeEn.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.TYPE' | translate}"></mdb-error>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form md-outline mt-0">
            <input type="text" id="typeAr" class="form-control" formControlName="typeAr" mdbInput mdbValidate
                   [validateSuccess]="false">
            <label for="typeAr">{{'SHARED_EVENTS.TYPE' | translate}}({{'COMMON.ARABIC' | translate}})</label>
            <mdb-error *ngIf="f.typeAr.invalid && (f.typeAr.dirty || f.typeAr.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.TYPE' | translate}"></mdb-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form md-outline mt-0">
            <input type="text" id="nameEn" class="form-control" formControlName="nameEn" mdbInput mdbValidate
                   [validateSuccess]="false">
            <label for="nameEn">{{'SHARED_EVENTS.NAME' | translate}}({{'COMMON.ENGLISH' | translate}})</label>
            <mdb-error *ngIf="f.nameEn.invalid && (f.nameEn.dirty || f.nameEn.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.NAME' | translate}"></mdb-error>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form md-outline mt-0">
            <input type="text" id="nameAr" class="form-control" formControlName="nameAr" mdbInput mdbValidate
                   [validateSuccess]="false">
            <label for="nameAr">{{'SHARED_EVENTS.NAME' | translate}}({{'COMMON.ARABIC' | translate}})</label>
            <mdb-error *ngIf="f.nameAr.invalid && (f.nameAr.dirty || f.nameAr.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.NAME' | translate}"></mdb-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form md-outline mt-0">
            <!--            <input type="text" id="timestamp" class="form-control" formControlName="timestamp" mdbInput mdbValidate-->
            <!--                   [validateSuccess]="false">-->
            <mdb-date-picker name="timestamp" id="timestamp" [options]="timestampOptions" [placeholder]="'SHARED_EVENTS.TIMESTAMP' | translate"  formControlName="timestamp" required></mdb-date-picker>
            <!--            <label for="timestamp">{{'SHARED_EVENTS.TIMESTAMP' | translate}}</label>-->
            <mdb-error *ngIf="f.timestamp.invalid && f.timestamp.errors.required && (f.timestamp.dirty || f.timestamp.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.TIMESTAMP' | translate}"></mdb-error>
            <mdb-error *ngIf="f.timestamp.invalid && !f.timestamp.errors.required && (f.timestamp.dirty || f.timestamp.touched)"
                       [translate]="'COMMON.FIELD_INVALID'" [translateParams]="{field: 'SHARED_EVENTS.TIMESTAMP' | translate}"></mdb-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="md-form md-outline mt-0">
            <input type="text" id="titleEn" class="form-control" formControlName="titleEn" mdbInput mdbValidate
                   [validateSuccess]="false">
            <label for="titleEn">{{'SHARED_EVENTS.TITLE' | translate}}({{'COMMON.ENGLISH' | translate}})</label>
            <mdb-error *ngIf="f.titleEn.invalid && (f.titleEn.dirty || f.titleEn.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.TITLE' | translate}"></mdb-error>
          </div>
        </div>
        <div class="col-md-6">
          <div class="md-form md-outline mt-0">
            <input type="text" id="titleAr" class="form-control" formControlName="titleAr" mdbInput mdbValidate
                   [validateSuccess]="false">
            <label for="titleAr">{{'SHARED_EVENTS.TITLE' | translate}}({{'COMMON.ARABIC' | translate}})</label>
            <mdb-error *ngIf="f.titleAr.invalid && (f.titleAr.dirty || f.titleAr.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.TITLE' | translate}"></mdb-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form md-outline mt-0">
            <textarea type="text" id="descriptionEn" class="md-textarea form-control" formControlName="descriptionEn" mdbInput mdbValidate
                      [validateSuccess]="false" rows="8"></textarea>
            <label for="descriptionEn">{{'SHARED_EVENTS.DESCRIPTION' | translate}}({{'COMMON.ENGLISH' | translate}})</label>
            <mdb-error *ngIf="f.descriptionEn.invalid && (f.descriptionEn.dirty || f.descriptionEn.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.DESCRIPTION' | translate}"></mdb-error>
          </div>
        </div>
        <div class="col-md-12">
          <div class="md-form md-outline mt-0">
            <textarea type="text" id="descriptionAr" class="md-textarea form-control" formControlName="descriptionAr" mdbInput mdbValidate
                      [validateSuccess]="false" rows="8"></textarea>
            <label for="descriptionAr">{{'SHARED_EVENTS.DESCRIPTION' | translate}}({{'COMMON.ARABIC' | translate}})</label>
            <mdb-error *ngIf="f.descriptionAr.invalid && (f.descriptionAr.dirty || f.descriptionAr.touched)"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.DESCRIPTION' | translate}"></mdb-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="md-form mt-0">
            <div class="row px-0">
              <div for="media" class="col-md-3 label">{{'SHARED_EVENTS.MEDIA' | translate}}</div>
              <div class="col-md-3">
                <button *ngIf="f.media.value && f.media.value.length > 0" mdbBtn color="warning" mdbWavesEffect (click)="onClearMediaClicked()">{{'COMMON.CLEAR' | translate}}</button>
              </div>
            </div>
            <input type="hidden" id="media" class="form-control" formControlName="media" mdbInput mdbValidate
                   [validateSuccess]="false">
            <input type="hidden" id="originMedia" class="form-control" formControlName="originMedia" mdbInput mdbValidate
                   [validateSuccess]="false">
            <mdb-error *ngIf="f.media.invalid"
                       [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_EVENTS.MEDIA' | translate}"></mdb-error>
          </div>
          <div class="md-form col-md-8 margin-auto-x mt-0">
<!--            <dropzone *ngIf="f.media.value.length > 0" class="dropzone-container round-border z-depth-1" #media [config]="config" [message]="'SHARED_EVENTS.DROPZONE_PLACEHOLDER' | translate" (init)="onDropzoneInit($event)" (error)="onDropzoneError($event)" (success)="onDropzoneSuccess($event)"></dropzone>-->
            <dropzone class="dropzone-container round-border z-depth-1" #media [config]="config" [message]="'SHARED_EVENTS.DROPZONE_PLACEHOLDER' | translate" (init)="onDropzoneInit($event)" (error)="onDropzoneError($event)" (success)="onDropzoneSuccess($event)"></dropzone>
          </div>
        </div>
      </div>

      <div *ngIf="alert.show" class="alert alert-dismissible fade show mt-3" [ngClass]="alert.type" role="alert">
        <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
          <span aria-hidden="true">&times;</span>
        </button>
        {{alert.message}}
      </div>
      <div class="button-spec mt-3">
        <button type="button" mdbBtn color="warning" class="waves-light" aria-label="Close"
                mdbWavesEffect [disabled]="loading" (click)="goBack()">{{'COMMON.BACK' | translate}}
        </button>
        <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
                [disabled]="form.invalid || loading">{{'COMMON.SAVE' | translate}}
        </button>
      </div>
    </form>
<!--  </div>-->
<!--</div>-->
