<main>
  <div class="full-width">
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-light background-color-white sticky-top"
                [containerInside]="false">
      <!-- Navbar brand -->
      <mdb-navbar-brand><a class="navbar-brand"><img routerLink="/" src="./assets/media/logos/logo-sm.png"
                                                     (click)="clearSection()"></a></mdb-navbar-brand>

      <links>
        <ul mdbScrollSpy="navbarScrollspy" class="navbar-nav" [class.mr-auto]="('DIRECTION' | translate) === 'ltr'" [class.ml-auto]="('DIRECTION' | translate) === 'rtl'">
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.human.main"
               mdbWavesEffect>{{'HUMAN_LAYOUT.MAIN' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.human.ourServices.main"
               mdbWavesEffect>{{'HUMAN_LAYOUT.OUR_SERVICES' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.human.contactUs.main"
                mdbWavesEffect>{{'HUMAN_LAYOUT.CONTACT_US' | translate}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="routes.human.businessPartner.main"
               mdbWavesEffect>{{'HUMAN_LAYOUT.OUR_BUSINESS_PARTNER' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.human.ourClients.main"
                mdbWavesEffect>{{'HUMAN_LAYOUT.OUR_CLIENTS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.human.directorBoard.main"
                mdbWavesEffect>{{'HUMAN_LAYOUT.BOARD_OF_DIRECTORS' | translate}}</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link waves-light" [routerLink]="routes.human.aboutUs.main"
                mdbWavesEffect>{{'HUMAN_LAYOUT.ABOUT_US' | translate}}</a>
          </li>
        </ul>
        <ul class="navbar-nav"  [class.ml-auto]="('DIRECTION' | translate) === 'ltr'" [class.mr-auto]="('DIRECTION' | translate) === 'rtl'">
          <li class="nav-item dropdown" dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">
              {{'COMMON.LANGUAGE' | translate}}<span class="caret"></span>
            </a>
            <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
              <div >
                <a (click)="onLanguageButtonClicked('ar')" class="dropdown-item waves-light" mdbWavesEffect>{{'COMMON.ARABIC' | translate}}</a>
                <a (click)="onLanguageButtonClicked('en')" class="dropdown-item waves-light" mdbWavesEffect>{{'COMMON.ENGLISH' | translate}}</a>
              </div>
            </div>
          </li>
<!--          <a class="waves-light btn-sm" mdbWavesEffect mdbBtn color="secondary" (click)="onLanguageButtonClicked()"><strong>{{'LANGUAGE' | translate}}</strong></a>-->
<!--          <a class="waves-light btn-sm" mdbWavesEffect mdbBtn color="danger" (click)="onLanguageButtonClicked()"><strong>{{'LANGUAGE' | translate}}</strong></a>-->
          <a class="waves-light btn-sm" mdbWavesEffect mdbBtn color="danger" (click)="signOut()"><strong>{{'SIGNIN.SIGNOUT' | translate}}</strong></a>
        </ul>
      </links>
    </mdb-navbar>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <app-layout-footer></app-layout-footer>
  </div>
</main>

