<!--<div class="container">-->
<h2 class="h1-responsive font-weight-bold text-center mt-3">{{'HUMAN_LAYOUT.CONTACT_US' | translate}}</h2>
<div *ngIf="alert.show" class="alert alert-dismissible fade show mt-3" [ngClass]="alert.type" role="alert">
  <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
    <span aria-hidden="true">&times;</span>
  </button>
  {{alert.message}}
</div>
  <div class="row">
    <div class="col-md-6" [class.text-align-right]="('DIRECTION' | translate) === 'rtl'">
<!--      <button [routerLink]="addUrl" mdbBtn color="primary" mdbWavesEffect [disabled]="loading || !addButtonEnabled" class="add-button" (click)="editItem({})">-->
<!--        <mdb-icon fas icon="plus" class="mr-1"></mdb-icon>-->
<!--&lt;!&ndash;        {{strings.add}}&ndash;&gt;-->
<!--      </button>-->
    </div>
    <div class="col-md-6">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
               mdbInput>
        <label for="search-input">{{'COMMON.SEARCH' | translate}}</label>
      </div>
    </div>
    <div class="table-responsive col-md-12">
      <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="true" class="z-depth-1">
        <thead class="sticky-top">
        <tr>
          <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
              scope="col">{{head}} <mdb-icon fas icon="sort"></mdb-icon>
          </th>
          <th scope="col" class="edit-col"></th>
        </tr>
        </thead>
        <tbody #row>
        <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor="let el of elements; let i = index">
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="no-col">{{i+1}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.name}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.email}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.subject}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.message}}</td>
          <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex" class="edit-col">
            <a mdbBtn [routerLink]="editUrl" floating="true" rounded="true" color="primary" size="sm" mdbWavesEffect
               [class.mr-2]="('DIRECTION' | translate) === 'ltr'" [class.ml-2]="('DIRECTION' | translate) === 'rtl'"
               (click)="editItem(el)"><mdb-icon fas icon="eye"></mdb-icon></a>
            <a mdbBtn floating="true" rounded="true" color="danger" size="sm" mdbWavesEffect (click)="removeItem(el)"><mdb-icon fas icon="trash"></mdb-icon></a>
          </td>
        </tr>
        </tbody>
        <tfoot class="">
        <tr>
          <td [colSpan]="headElements.length + 1">
            <mdb-table-pagination [tableEl]="tableEl" paginationAlign="" [searchDataSource]="elements" dir="ltr"></mdb-table-pagination>
          </td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
<!--</div>-->
