
<h2 class="h1-responsive font-weight-bold text-center mt-3">{{'HOME_FRONT.USER_MANAGEMENT' | translate}}</h2>
<form [formGroup]="form" class="mx-2 mt-4" (ngSubmit)="onSubmit()">
  <input id="id" type="hidden" class="form-control grey-text" formControlName="id" mdbInput>
  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="email" id="email" class="form-control" mdbInput mdbValidate formControlName="email" [readOnly]="loading">
        <label for="email">{{'SHARED_USER_MGMT.EMAIL' | translate}}</label>
        <mdb-error *ngIf="f.email.errors && f.email.errors.required && (f.email.dirty || f.email.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.EMAIL' | translate}"></mdb-error>
        <mdb-error *ngIf="f.email.errors && f.email.errors.email && (f.email.dirty || f.email.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_INVALID'" [translateParams]="{field: 'SHARED_USER_MGMT.EMAIL' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="username" class="form-control" mdbInput mdbValidate formControlName="username" [readOnly]="loading">
        <label for="username">{{'SHARED_USER_MGMT.USERNAME' | translate}}</label>
        <mdb-error *ngIf="f.username.errors && f.username.errors.required && (f.username.dirty || f.username.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.USERNAME' | translate}"></mdb-error>
        <mdb-error *ngIf="f.username.errors && f.username.errors.maxlength && (f.username.dirty || f.username.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_MAX_LENGTH'" [translateParams]="{field: 'SHARED_USER_MGMT.USERNAME' | translate, length: lang === 'en' ? 20 : '٢٠'}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="firstName" class="form-control" mdbInput mdbValidate formControlName="firstName" [readOnly]="loading">
        <label for="firstName">{{'SHARED_USER_MGMT.FIRST_NAME' | translate}}</label>
        <mdb-error *ngIf="f.firstName.errors && f.firstName.errors.required && (f.firstName.dirty || f.firstName.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.FIRST_NAME' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="fatherName" class="form-control" mdbInput mdbValidate formControlName="fatherName" [readOnly]="loading">
        <label for="fatherName">{{'SHARED_USER_MGMT.FATHER_NAME' | translate}}</label>
        <mdb-error *ngIf="f.fatherName.errors && f.fatherName.errors.required && (f.fatherName.dirty || f.fatherName.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.FATHER_NAME' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="lastName" class="form-control" mdbInput mdbValidate formControlName="lastName" [readOnly]="loading">
        <label for="lastName">{{'SHARED_USER_MGMT.LAST_NAME' | translate}}</label>
        <mdb-error *ngIf="f.lastName.errors && f.lastName.errors.required && (f.lastName.dirty || f.lastName.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.LAST_NAME' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <mdb-select formControlName="gender" [label]="'SHARED_USER_MGMT.GENDER' | translate" [options]="genders" class="white pb-1"></mdb-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <mdb-date-picker formControlName="birthday" [label]="'SHARED_USER_MGMT.BIRTHDAY' | translate" [options]="datePickerOptions" required class="white"></mdb-date-picker>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="jobTitle" class="form-control" mdbInput mdbValidate formControlName="jobTitle" [readOnly]="loading">
        <label for="jobTitle">{{'SHARED_USER_MGMT.JOB_TITLE' | translate}}</label>
        <mdb-error *ngIf="f.jobTitle.errors && f.jobTitle.errors.required && (f.jobTitle.dirty || f.jobTitle.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.JOB_TITLE' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="sector" class="form-control" mdbInput mdbValidate formControlName="sector" [readOnly]="loading">
        <label for="sector">{{'SHARED_USER_MGMT.SECTOR' | translate}}</label>
        <mdb-error *ngIf="f.sector.errors && f.sector.errors.required && (f.sector.dirty || f.sector.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.SECTOR' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="company" class="form-control" mdbInput mdbValidate formControlName="company" [readOnly]="loading">
        <label for="company">{{'SHARED_USER_MGMT.COMPANY' | translate}}</label>
        <mdb-error *ngIf="f.company.errors && f.company.errors.required && (f.company.dirty || f.company.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.COMPANY' | translate}"></mdb-error>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="city" class="form-control" mdbInput mdbValidate formControlName="city" [readOnly]="loading">
        <label for="city">{{'SHARED_USER_MGMT.CITY' | translate}}</label>
        <mdb-error *ngIf="f.city.errors && f.city.errors.required && (f.city.dirty || f.city.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.CITY' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <mdb-select formControlName="countryCode" [label]="'SHARED_USER_MGMT.COUNTRY_CODE' | translate" [options]="countryCodes" class="white pb-1"></mdb-select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="md-form md-bg mb-0">
        <input type="text" id="phone" class="form-control" mdbInput mdbValidate formControlName="phone" [readOnly]="loading">
        <label for="phone">{{'SHARED_USER_MGMT.PHONE' | translate}}</label>
        <mdb-error *ngIf="f.phone.errors && f.phone.errors.required && (f.phone.dirty || f.phone.touched)" class="error-message2 text-left" [translate]="'COMMON.FIELD_REQUIRED'" [translateParams]="{field: 'SHARED_USER_MGMT.PHONE' | translate}"></mdb-error>
      </div>
    </div>
  </div>

  <div *ngIf="alert.show" class="alert alert-dismissible fade show mt-3" [ngClass]="alert.type" role="alert">
    <button type="button" class="close" aria-label="Close" (click)="closeAlert()">
      <span aria-hidden="true">&times;</span>
    </button>
    {{alert.message}}
  </div>
  <div class="button-spec">
    <button type="button" [routerLink]="backUrl" mdbBtn color="warning" class="waves-light" aria-label="Close"
            mdbWavesEffect [disabled]="loading">{{'COMMON.BACK' | translate}}
    </button>
    <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect
            [disabled]="form.invalid || loading">{{'COMMON.SAVE' | translate}}
    </button>
  </div>
</form>
<!--  </div>-->
<!--</div>-->
